.btn-primary {
  border-color: transparent !important;
}

.ReactModal__Overlay {
  z-index: 100000;
}

.page-logo {
  max-width: 200px;
}

:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

#homeBackImage {
  background-image : url('./images/rockcert.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border: none !important;
  border-radius: 0px !important;
}

.navbar {
  margin-bottom: 0px !important;
}

.homepage-text {
  color: rgba(0, 0, 0, 0.57) !important;
  text-shadow: -2px 2px 2px rgba(255, 255, 255, 0.83);
  font-weight: 800;
}

#videoTeaser {

}

.card {
  border: none !important;
}

#creatorsDiv {
  background: #232323;  /* fallback for old browsers */
  border-radius: 0px !important;
}

.peoplesRhymer {
  width:100%;
  height:100%;
}

.footer-info {
  color: #282828 !important;
  font-weight: 700;
}

.thumb {position: relative;}
.thumb a {position: absolute; top: 0; display: block; width: 100%; height: 100%; text-align: center; text-decoration: none;}
.thumb a .play, .thumb a .overlay {opacity: 0;}
.thumb a:hover .play, .thumb a:hover .overlay {display: block; transition: opacity .25s ease-in-out;-moz-transition: opacity .25s ease-in-out;-webkit-transition: opacity .25s ease-in-out;}
.thumb a:hover .play {position: absolute;; font-size: 64px; color: #ffffff; top: 50%; left: 50%; z-index: 1000; opacity: 1;transform: translate(-50%, -50%); display: inline-block}
.thumb a:hover .overlay {position: absolute; top: 0; width: 100%; height: 100%; background-color: #000000; opacity: .7;}

.ReactModal__Content {
  padding: 0px !important
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.50) !important;
}

.form-body{
    background:#fff;
    padding:20px;
}
.login-form{
    background:rgba(255,255,255,0.8);
	padding:20px;
	border-top:3px solid#3e4043;
}
.innter-form{
	padding-top:20px;
}
.final-login li{
	width:50%;
}

.nav-tabs {
    border-bottom: none !important;
}

.nav-tabs>li{
	color:#222 !important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #fff;
    background-color: #d14d42;
    border: none !important;
    border-bottom-color: transparent;
	border-radius:none !important;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.428571429;
    border: none !important;
    border-radius:none !important;
	text-transform:uppercase;
	font-size:16px;
}

.social-login{
	text-align:center;
	font-size:12px;
}
.social-login p{
	margin:15px 0;
}
.social-login ul{
	margin:0;
	padding:0;
	list-style-type:none;
}
.social-login ul li{
	width:33%;
	float:left;
    clear:fix;
}
.social-login ul li a{
	font-size:13px;
	color:#fff;
	text-decoration:none;
	padding:10px 0;
	display:block;
}
.social-login ul li:nth-child(1) a{
	background:#3b5998;
}
.social-login ul li:nth-child(2) a{
	background:#e74c3d;
}
.social-login ul li:nth-child(3) a{
	background:#3698d9;
}
.sa-innate-form input[type=text], input[type=password], input[type=file], textarea, select, email{
    font-size:13px;
	padding:10px;
	border:1px solid#ccc;
	outline:none;
	width:100%;
	margin:8px 0;

}
.sa-innate-form input[type=submit]{
    border:1px solid#e64b3b;
	background:#e64b3b;
	color:#fff;
	padding:10px 25px;
	font-size:14px;
	margin-top:5px;
	}
	.sa-innate-form input[type=submit]:hover{
	border:1px solid#db3b2b;
	background:#db3b2b;
	color:#fff;
	}

	.sa-innate-form button{
	border:1px solid#e64b3b;
	background:#e64b3b;
	color:#fff;
	padding:10px 25px;
	font-size:14px;
	margin-top:5px;
	}
	.sa-innate-form button:hover{
	border:1px solid#db3b2b;
	background:#db3b2b;
	color:#fff;
	}
    .sa-innate-form p{
        font-size:13px;
        padding-top:10px;
    }


.form-body > .nav {
   display: block;
   display: -webkit-box;
}

.card-nav-tabs {
  margin-top: 20px
}

.play:hover {
  cursor: pointer
}

.header {
  background-image: url(./images/handsup.jpg);
}


///comment boxShadow
.input-group{
    width: 100%
}
.main-footer {
    width:100%;
}
.main-sidebar{
    position: fixed;
}

.direct-chat-messages{
    height: 64vh
}

.text-area{
    width: 100% !important;
    height: 100px !important;
}
//

//from djr commentText

.card {
  background-color: transparent !important;
  box-shadow: none !important;
  border:none !important;
}

.item-card .card__image {
    background-color: #ef5350 !important;
}

.featured-live-event img {
  height: 60vh;
}

.tm-thumbnail {
  margin-bottom: 4vh;
}

.card .card-image img {
    width: auto !important;
}

.commentBox {
  padding: 0px !important;
  list-style: none !important;
  min-height: 10vh;
  overflow: auto;
}

.comment {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.commentText, {
  margin-left: 3vh;
  width: 100%;
  font-size: 16px;
}


.commentDate {
  width: 100%;
  font-size: 16px;
  color: '#cccccc';
}

.commentDiv {
  padding: 25px;
}

time {
  float: right;
}

.makeComment {
  width: 100%;
  display: flex;
  padding: 10px !important;

}



.commentButton {
  width: 24vh;
  float: right;
  background-color: white !important;
}

///might cause issues ^

.card {
  background-color: transparent !important;
  box-shadow: none !important;
  border:none !important;
}

.item-card .card__image {
    background-color: #ef5350 !important;
}

.featured-live-event img {
  height: 60vh;
}

.tm-thumbnail {
  margin-bottom: 4vh;
}

.card .card-image img {
    width: auto !important;
}

.commentBox {
  padding: 0px !important;
  list-style: none !important;
  min-height: 10vh;
  overflow: auto;
  max-height: 100vh;
}

.comment {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.commentText, {
  margin-left: 3vh;
  width: 100%;
  font-size: 16px;
}


.commentDate {
  width: 100%;
  font-size: 16px;
  color: '#cccccc';
}

.commentDiv {
  padding: 25px;
}

time {
  float: right;
}

.makeComment {
  width: 100%;
  display: flex;
  padding: 10px !important;

}



.commentButton {
  width: 24vh;
  float: right;
  background-color: white !important;
}


//

.lovebtn {
  box-shadow: 1px 1px 0 rgba(255,255,255,0.5) inset;
  border-radius: 3px;
  border: 1px solid;
  display: inline-block;
  height: 18px;
  line-height: 18px;
  padding: 0 8px;
  position: relative;

  font-size: 12px;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
/*
 * Counter button style
 */
.lovebtn-counter { margin-right: 39px; }
.lovebtn-counter:after,
.lovebtn-counter:hover:after { text-shadow: none; }
.lovebtn-counter:after {
  border-radius: 3px;
  border: 1px solid #d3d3d3;
  background-color: #eee;
  padding: 0 8px;
  color: #777;
  content: attr(data-count);
  left: 100%;
  margin-left: 8px;
  margin-right: -13px;
  position: absolute;
  top: -1px;
}
.lovebtn-counter:before {
  transform: rotate(45deg);
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476, sizingMethod='auto expand');

  background-color: #eee;
  border: 1px solid #d3d3d3;
  border-right: 0;
  border-top: 0;
  content: '';
  position: absolute;
  right: -13px;
  top: 5px;
  height: 6px;
  width: 6px;
  z-index: 1;
  zoom: 1;
}
/*
 * Custom styles
 */
.lovebtn {
  background-color: #dbdbdb;
  border-color: #bbb;
  color: #666;
}
.lovebtn:hover,
.lovebtn.active {
  text-shadow: 0 1px 0 #b12f27;
  background-color: #f64136;
  border-color: #b12f27;
}
.lovebtn:active { box-shadow: 0 0 5px 3px rgba(0,0,0,0.2) inset; }
.lovebtn span { color: #f64136; }
.lovebtn:hover, .lovebtn:hover span,
.lovebtn.active, .lovebtn.active span { color: #eeeeee; }
.lovebtn:active span {
  color: #b12f27;
  text-shadow: 0 1px 0 rgba(255,255,255,0.3);
}
//


//react suggest css

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
  color: black;
}

.react-autosuggest__input:focus {
  outline: none;
}

.react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__container--open .react-autosuggest__suggestions-container {
  display: block;
  position: absolute;
  top: 51px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
  color: black;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion:not(:first-child) {
  border-top: 1px solid #ddd;
}

.react-autosuggest__suggestion--focused {
  background-color: #0C7EAF;
  color: #fff;
}

.suggestion-content {
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
}



.name {
  margin-left: 68px;
  line-height: 45px;
}

.highlight {
  color: #ee0000;
  font-weight: bold;
}

.react-autosuggest__suggestion--focused .highlight {
  color: #120000;
}


//

.navbar-nav {
  height: 12vh;
  line-height: 12vh;
  text-align: center;
}

#react-autowhatever-1 {
  width: 100%;
}
